<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CocktailApp</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />

  
  </head>

  <body>
 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Cocktail App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>With these ingredients...</h1>
  
      <ul>
        {% for ingredient in db_ingredients %}

	  <label class="checkbox-inline ingredients">
	    <input type="checkbox" name="ingredient" value={{ingredient}}> {{ingredient}}
	  </label>
        {% endfor %}
      </ul>
          <!-- <p><a id="view_drinks" class="btn btn-default" href="#" role="button">View drinks &raquo;</a></p> -->
        <p><a id="view_drinks" class="btn btn-primary btn-lg" href="#" role="button">View drinks &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div id="subset_drinks_container" class="col-md-6">
          <h2>You can already make...</h2>
	  <ul></ul>
          <a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div id="limes_drinks_container"  class="col-md-6">
          <h2>With limes, you can make...</h2>
	  <a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Datascope Analytics 2015</p>
      </footer>
    </div> <!-- /container -->




    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="static/js/jquery-1.11.3.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>  
    <script src="static/js/cocktailapp.js"></script>

  </body>
</html>
